.mdl-modal-window__button {
    color: black;
    cursor: pointer;
    font-size: 28px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 0px) and (max-width: 640px) {
    .mdl-modal-window__button {
        color: black;
        cursor: pointer;
        font-size: 36px;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .mdl-modal-window__button {
        color: black;
        cursor: pointer;
        font-size: 32px;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.mdl-modal-window__button:hover {
    color: red;
}

.mdl-modal-window__open:checked ~ .mdl-modal-window__wrap:before {
    display: block;
}
.mdl-modal-window__open:checked ~ .mdl-modal-window__wrap .mdl-modal-window__dialog {
    transform: translate(-50%, 0);
    transition: transform 0.5s ease-out;
    top: 25%;
}

.mdl-modal-window__wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.mdl-modal-window__dialog {
    background: white;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -1000%);
    transition: transform 0.5s ease-out;
    z-index: 10000;
}