.mdl-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 80%;
    z-index: 1;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    box-sizing: border-box;
}

@media (min-width: 0px) and (max-width: 1280px) {
    .mdl-form {
        width: 95%;
    }
}

@media (min-width: 1281px) and (max-width: 1600px) {
    .mdl-form {
        width: 90%;
    }
}