.mdl-profile-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.mdl-profile-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.mdl-profile-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.mdl-profile-avatar--circle {
    border-radius: 50%;
}


.mdl-menu__item {
    list-style: none;
}

.mdl-menu__item .mdl-navigation__link:hover {
    display: flex;
}

.mdl-menu--broad {
    width: 210px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link--small-padding {
    padding: 6px 8px ;
}

.mdl-menu.mdl-menu--bottom-right {
    left: 0;
}