
caption {
    padding: .8em;
    text-align: right;
    caption-side: top;
    font-size: 75%;
    line-height: 1em;
    color: #808080
}

.elementTitle,
.vitaminTitle,
.mealtimeTitle{
    position: relative;
    padding: 3px 5px 3px 10px;
    color: #686461;
    background: #B9B29F;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    line-height: normal;
}

.mdl-navigation__link:hover {
    text-decoration: underline
}

tr .mdl-navigation__link {
    visibility: hidden
}

tr:hover .mdl-navigation__link {
    visibility: visible
}

tr .icon a {
    visibility: hidden
}

tr:hover .icon a {
    visibility: visible
}

.show {
    position: relative;
    z-index: 1;
    zoom: 1;
    color: #06f
}

.show em {
    display: none
}

.show:hover em {
    width: 300px;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #ddd;
    border-radius: 5px;
    line-height: normal;
    color: #111;
    text-decoration: none;
    text-align: right;
    padding: 3px 5px;
    top: 22px;
    right: -300px;
    box-shadow: 0 0 5px #ddd
}

.show:hover em i {
    position: absolute;
    z-index: 1;
    left: 7px;
    top: -8px;
    border-bottom: 10px solid #ddd;
    border-right: 9px solid transparent;
    display: block;
    height: 0;
    overflow: hidden
}

.show--login:hover em {
    width: 45px;
    right: -45px
}

.profile {
    text-decoration: none
}

.profile:hover {
    text-decoration: underline;
    cursor: pointer
}

.tooltip-login {
    position: relative;
    z-index: 1;
    zoom: 1;
    color: #06f
}

.tooltip-login:hover {
    cursor: pointer;
    text-decoration: none
}

.tooltip-login:hover::after {
    width: 45px;
    right: -30px;
    display: inline;
    position: absolute;
    z-index: 1;
    background-color: #eee;
    border-radius: 5px;
    line-height: normal;
    color: #111;
    text-decoration: none;
    text-align: center;
    padding: 3px 5px;
    top: 45px;
    box-shadow: 0 0 5px #eee;
    content: attr(data-tool)
}

tr .icon a {
    visibility: hidden;
}

tr:hover .icon a {
    visibility: visible;
}

tr .visible a {
    visibility: hidden;
}

tr:hover .visible a {
    visibility: visible;
}
